*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: rgb(121, 112, 100);
    color:rgb(212, 209, 212);

    padding: 20px;
}
.inputArea{
    display: flex;
    justify-content: space-evenly;

    margin: 10px;
    
    color: rgb(223, 224, 218);

    font-size: 15px;
}
.opsArea{
    display: flex;
    justify-content: space-evenly;
}
button{
    border: none;
    border-radius: 5px;

    height: 35px;
    width: 101px;

    background-color: rgb(41, 12, 12);
    color:aliceblue;

    font-weight: 600;
}
pre{
    background-color: bisque;
    color: #444;

    width: fit-content;
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}